# Virtual environments
.venv/
env/
venv/
.mypy_cache/
.old/
IV/

# Python cache files
*.pyc
*.pyo
*.pyd
*.npz
__pycache__/
utilities/__pycache__/

# macOS system files
*.DS_Store
.DS_Store
*DS_Store
**/.DS_Store

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# HDF5 and other data files (if applicable)
*.dat
*.pickle

# specific files
*MCBJ_seeblau_ultra.png

# specific directories
sonst/
models/old/
models/old_HA/