# Python cache files
*.pyc
*.pyo
*.pyd
*.npz
__pycache__/

# macOS system files
*.DS_Store
.DS_Store
*DS_Store
**/.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# HDF5 and other data files (if applicable)
*.dat
*.pickle

# specific files
*MCBJ_seeblau_ultra.png

# specific directories
sonst/
models/old/
models/old_HA/
old/
.cache/

thesis/theory/
superconductivity.egg-info/
superconductivity/models/carlosha/ha_asym
superconductivity/models/carlosha/compile
superconductivity/models/carlosfcs/fcs

*cpython-313-darwin.so
